.Card{
    border: 2px dotted darkgoldenrod;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: yellow;
}
.Card button{
    background-color: darkgoldenrod;
    margin-left:20px;
    margin-right:20px;
    border: 3px dashed yellow;
    color: rgb(249, 249, 150);
}