#footer p{
    justify-content: center;
    align-items:center;
    display:flex;
    font-size: 15px;
    margin: auto;
    padding: 20px;
    color:rgb(255, 242, 0);
    background-color: darkgoldenrod;
}