h1{
    color:rgb(25, 25, 0);
  }
  #facts li{
    color:rgb(25, 25, 0);
  }
  div{
    background-color: rgb(218, 187, 32);
  }
  hr{
    background-color: darkgoldenrod;
    border: none;
    height: 1px;
  }